<aside class="sidebar">
    <div class="sidebar-header">
        <div class="sidebar-logo">
            <i class="fas fa-box-open"></i>
            <h2>PackTrack</h2>
        </div>
    </div>
    <nav class="sidebar-menu">
        <span class="menu-category">Main</span>
        <ul id="nav-items-1">
            <!-- Menu items will be populated by JavaScript based on role -->
        </ul>
        <span class="menu-category">Account</span>
            <!-- Menu items will be populated by JavaScript based on role -->
            <ul id="nav-items-2">
                <!-- Menu items will be populated by JavaScript based on role -->
            </ul>
    </nav>
    <div class="sidebar-footer">
        <div class="user-info">
            <span id="user-icon" class="material-icons text-blue-600 hover:text-blue-800 text-3xl cursor-pointer border border-gray-300 rounded-full p-1 bg-white">
                person</span>
            <div class="user-details">
                <h4 id="user-name">Rasha Alsaleh</h4>
                <p id="user-email">rasha@example.com</p>
            </div>
        </div>

        
    </div>
</aside>