#! environment variables
.env

#! node & composer dependencies
node_modules/
vendor/

#! IDE/editor settings
.vscode/
.idea/

#! logs and system files
*.log
.DS_Store
Thumbs.db
*.tmp

#! OS swap/backup files
*.swp
*.swo
*.bak

#! build or dist folders 
dist/
build/

#! Docker volumes 
docker/data/

#! Composer dependencies
/vendor/

#! Composer lock file
composer.lock

#! database backups
*.sql
*.sqlite