RewriteEngine On

RewriteBase /

ErrorDocument 404 /PackTrack/public/views/errors/404.html
ErrorDocument 403 /PackTrack/public/views/errors/403.html
ErrorDocument 500 /PackTrack/public/views/errors/500.html

<Files "/PackTrack/public/views/errors/404.html">
    Require all granted
</Files>

<Files "/PackTrack/public/views/errors/403.html">
    Require all granted
</Files>

<Files "/PackTrack/public/views/errors/500.html">
    Require all granted
</Files>

<FilesMatch "\.(css|js|jpg|jpeg|png|gif|ico)$">
    Require all granted
</FilesMatch>

